<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h2>Please wait, do not refresh the page</h2></center>

    <form action=<%= transactionUrl %> method="POST" name="f1">
        <p>
            <%=form_fields%>
        </p>
    </form>
    <script type="text/javascript">document.f1.submit</script>

</body>
</html>